<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple Logger Suite" >
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>



    <test name="Simple Logger test" preserve-order="true">

        <classes>

            <!-- 借款操作-->
            <class name="com.minxin.App"></class>

        </classes>
    </test>
</suite>